{% extends 'base.html' %}
{% block content%}
<div class="container">
<form action="">
  <div class="mb-3">
    <label class="form-control" class="form-label">搜索书名</label>
    <input type="test" name="searchBook" class="form-control"  />
  </div>
  <button type="submit" class="btn btn-primary">搜索</button>
</form>
    <p>搜索 {{searchTerm}}</p>

    <div class="row row-cols-1 row-cols-md-3 g-4">
{% for book in books %}
<div v-for="book in books" class="col">
<div class="card">
<img class="card-img-top" src="{{ book.image.url }}" />
<div class="card-body">
<h5 class="card-title fw-bold">{{ book.title }}</h5>
<p class="card-text">{{book.description }}</p>
{% if book.url %}
	<a href="{{ book.url }}" class="btn btn-primary">电子书资源链接</a>
{% endif %}
</div>
</div>
</div>
{% endfor %}
</div>
    <div class="d-flex justify-content-center align-items-center">
    {% include "pagination.html" with page=books %}
</div>
</div>
{% endblock content %}

